li {
    list-style: none;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: lightblue;
    display: grid;
    grid-auto-flow: row;
}

li svg {
    width: 20px;
    height: 20px;
}

.sidebar li {
    /* i am not sure about this yet */
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}


.header {
    grid-column: 2;
    grid-row: 1 / 3;
}

.content {
    grid-column: 2;
    grid-row: 3;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
}